@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Rubik');

html {
	width:60%;
	padding-left:20%;
	padding-right:20%;
	margin-top:7vh;
}

.typing {
  font-family: 'Archivo Black', sans-serif;
  font-size:6vw;
  margin-bottom: 0.1em;
}

.Heading {
	h1 {
		font-size: 3em;
		margin-bottom: 0.5em;
	}
	font-family: 'Rubik', sans-serif;
	p {
		font-size: 1.5em;
		margin: 0px;
		margin-top:10px;
		line-height: 1.5em;
	}
	.headingspan {
		color: #5e7bff;
	}
	.headingspan:hover {
		color: #0e3575;
	}

a:link, a:visited {
    color: #5e7bff;
    text-decoration: none;
}

a:hover, a:active {
    color: #0e3575;
}
}